.character-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #f0e68c, #8b4513); /* 调整背景色为淡黄色到棕色渐变 */
  background-size: cover;
  background-position: center;
}

.carousel {
  display: flex;
  justify-content: center;
  perspective: 1000px;
  position: relative;
  width: 80%;
  height: 80%;
}

.character-card {
  position: absolute;
  width: 200px;
  height: 240px;
  background-color: rgb(249, 255, 194);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  transition: transform 0.5s, z-index 0.5s, top 0.5s;
  top: 200px; /* 下移人物框 */
  /* background-image: url('./images/default-pattern.png');  */
}


.character-card.hovered {
  top: 150px; /* 鼠标悬停时进一步下移 */
  height: 520px;
}

.character-image {
  display: none;
  width: 200px; /* 设置图片宽度 */
  height: 260px; /* 保持图片比例 */
}

.character-card.hovered .character-image {
  display: block;
}

.character-info {
  padding: 10px;
  font-family: 'Arial', sans-serif; /* 设置字体 */
  font-size: 14px; /* 设置字体大小 */
  color: #333; /* 设置字体颜色 */
}

.character-special-attributes {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Georgia', serif; /* 设置特殊属性字体 */
  font-size: 12px; /* 设置特殊属性字体大小 */
  color: #555; /* 设置特殊属性字体颜色 */
}

.special-attribute {
  margin-right: 10px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 62, 80, 0.8); /* 深蓝色半透明背景 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.character-details {
  margin-top: 20px;
}
.character-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e9e6d9c4; /* 羊皮纸色 */
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  width: 90%;
  max-width: 1000px;
  overflow-y: auto;
  max-height: 90%;
  border-radius: 10px;
  font-size: 16px; /* 调整字体大小 */
}

.character-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
}

.character-table, .skills-table, .weapons-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.character-table th, .character-table td, .skills-table th, .skills-table td, .weapons-table th, .weapons-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.character-table th, .skills-table th, .weapons-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.character-table tr:nth-child(even), .skills-table tr:nth-child(even), .weapons-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.character-table tr:hover, .skills-table tr:hover, .weapons-table tr:hover {
  background-color: #ddd;
}

.character-attributes .attribute {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #333;
}

.attribute-table {
  width: 100%;
  border-collapse: collapse;
}

.attribute-table th, .attribute-table td {
  border: 1px dashed #ddd;
  padding: 4px;
  font-size: 12px;
}

.attribute-table th {
  background-color: #f9f9f9;
  text-align: left;
}
.section-separator {
  margin: 20px 0;
}

.skills-table th, .skills-table td {
  font-size: 14px;
}


.skills-table td:nth-child(1) ,.skills-table td:nth-child(4),.skills-table td:nth-child(7){
  color: #182258; /* 蓝色 */
}
.character-tables {
  display: flex;
  justify-content: space-between;
}

.character-table {
  width: 48%;
}

.full-width {
  width: 100%;
}